body{
	text-align: center;
	color: blue;
}

h3{
	font-family: 'Tangerine', cursive;
}
p{
	font-family: 'Pacifico', cursive;
	font-size: 10px;

}	
.caja1{
	margin: 10px;

	float: left;
	width: 100px;
	height: 120px;
	border: 1px solid transparent;
	background: pink;
}
.caja2{
	margin: 10px;
	
	float: left; 
	width: 100px;
	height: 120px;
	border: 1px solid transparent;
	background: pink;
}
.caja3{	
	margin: 10px;
	float: left; 
	width: 100px;
	height: 120px;
	border: 1px groove black;
	background: pink;
}
.caja4{
	margin: 10px;
	float: left; 
	width: 100px;
	height: 120px;
	border: 1px solid transparent;
	background: pink;
}
.caja5{	
	margin: 10px;
	
	float: left; 
	width: 100px;
	height: 120px;
	border: 1px solid transparent;
	background: pink;
}
i{
	font-size: 10px;
}

