body{
	text-align: center;
	color: blue;
}

h3{
	font-family: 'Tangerine', cursive;
}
p{
	font-family: 'Pacifico', cursive;
	font-size: 10px;

}	
.caja{
	margin: 10px;
	float: left;
	width: 100px;
	height: 130px;
	border: 1px solid transparent;
	background: pink;
	padding: 10px;
}
.fa{
	font-size: 30px;
	color: green;
}


